// Animations styles

.tickerTape {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  background: transparent;
  z-index: 10;
  box-sizing: border-box;
  overflow: hidden;
  height: 3rem;
}

.logo {
  position: absolute;
  left: 0;
  animation: 20s linear 1s infinite running slidein;
}

@keyframes slidein {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}