// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here



p {
    font-family: $font-family-serif;
}

.tickerTape {
    left:-5%;
    top: 0;
    position:absolute;
    display:block;
    width:120%;
    background:rgba(200,135,100,0.9);
    color:#111;
    z-index:2;
    box-sizing:border-box;
    padding: 1rem 0.25rem;
    font-weight:100;
    font-family: veranda, sans-serif;
    overflow:hidden;
    height:3rem;
  }

  .text {
    position:absolute;
    left:-5%;
    animation: 20s linear 1s infinite running slidein;
  }
  
  @keyframes slidein {
    0%{left:-5%;}
    100%{left:105%;}
}