// General styles

body {
    background-color: $yellow;
  }

p {
    font-family: $font-family-serif;
}

.navbar {
    padding: 0;
}

#main-menu {
    position: fixed;
    left: 0;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);

    li {
        font-family: $font-family-sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }

}

.home .wrapper {
    padding: 120px 0;
}

